engine-strict=true
prefer-offline=true
legacy-peer-deps=true
strict-peer-dependencies=false
shamefully-hoist=true
package-lock=false
lockfile-version=3
node-linker=hoisted
prefer-frozen-lockfile=true
